
<nav class="navbar navbar-expand navbar-dark bg-dark stylenav">
    <a href="#" class="nav-brand">e-LEARNING</a>
    <div class="collapse navbar-collapse">
     <ul class="navbar-nav ml-auto">
    <li class="nav-item" >
         <a routerLink="student-homepage" class="nav-link" routerLinkActive="active">Home</a>
         </li>
    <li class="nav-item" routerLinkActive="active" >
         <a routerLink="student-all-course/1" class="nav-link" >All Courses</a>
         </li>
    <li class="nav-item" routerLinkActive="active">
         <a routerLink="student-my-course" class="nav-link" >My Courses</a>
         </li>
         <li class="nav-item" routerLinkActive="active">
          <a routerLink="extra-details" class="nav-link" >Extra Information</a>
          </li>
         <li class="dropdown nav-item" routerLinkActive="active">
         <a  class="dropdown-toggle nav-link" data-toggle="dropdown" role="button">Profile</a>
              <ul class="dropdown-menu">
               <li class="dropdown-item"><a (click)="savemycourse()">Save</a></li>
              
                   <li class="dropdown-item"><a (click)="logout()">Log Out</a>
               
               </li>
              </ul>
         </li>
         
    </ul>
    </div>
   </nav>
   
  